# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.history/

# Log files
*.log

# Temporary files
*.swp
*~
*.bak
*.tmp


# Node.js (if using for build tools)
node_modules/

# Build output (if using a build process)
dist/
build/
